name: GitHub Pages Publish

on:
  push:
    branches: [main]

env:
  FONTAWESOME_PACKAGE_TOKEN: ${{ secrets.FONTAWESOME_PACKAGE_TOKEN }}

jobs:
  gh-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: gh-deploy

      - uses: actions/setup-node@v4
        with:
          node-version: 18
          registry-url: https://registry.npmjs.org
          cache: 'yarn'

      - name: Merge
        uses: devmasx/merge-branch@master
        with:
          type: now
          from_branch: main
          target_branch: gh-deploy
          github_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Install
        run: yarn install

      - name: Build
        working-directory: '.'
        run: yarn build:pages

      - name: Upload Artifact
        uses: actions/upload-pages-artifact@v3
        with:
          name: github-pages
          path: build

  deploy:
    runs-on: ubuntu-latest
    needs: gh-deploy

    permissions:
      id-token: write
      pages: write

    environment:
      name: github-pages
      url: ${{steps.deployment.outputs.page_url}}
      
    steps:
    - uses: actions/download-artifact@master
      with:
        name: github-pages
        path: .
    - uses: actions/configure-pages@v5
    - uses: actions/upload-pages-artifact@v3
      with:
        path: .
    - id: deployment
      uses: actions/deploy-pages@main