name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

env:
  FONTAWESOME_PACKAGE_TOKEN: ${{ secrets.FONTAWESOME_PACKAGE_TOKEN }}

jobs:
  check-license:
    runs-on: ubuntu-latest
    environment: github-pages
    steps:
      - uses: actions/checkout@master
      - uses: actions/setup-node@v4
        with:
          cache: 'yarn'
      - name: Check License Lines
        uses: kt3k/license_checker@v1.0.6

  # NOTE: replace `markdown-link-check` with <https://github.com/UmbrellaDocs/linkspector> when
  # Github Action is available.
  markdown-link-check:
    runs-on: ubuntu-latest
    environment: github-pages
    steps:
      - uses: actions/checkout@master
      - uses: actions/setup-node@v4
        with:
          cache: 'yarn'
      - name: Check Markdown Links
        uses: gaurav-nelson/github-action-markdown-link-check@v1
        with:
          base-branch: main
          use-quiet-mode: 'yes'
          check-modified-files-only: 'yes'
          config-file: 'check-markdown-links-config.json'

  build:
    runs-on: ubuntu-latest
    environment: github-pages
    strategy:
      matrix:
        node-version: [18.x, 20.x]
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          cache: 'yarn'
          node-version: ${{ matrix.node-version }}
      - run: yarn install
      - run: yarn build
      - run: yarn lint